.menu{
    background: aliceblue;
    padding: 0;
    margin: 0;
    height: 50px;
}

.row{
    width: 100%;
}

.clicker{
    position: relative;
    background: black;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
}

.clicker#clickerR{
    box-shadow: 0 0 10px red;
}

.clicker#clickerG{
    box-shadow: 0 0 10px green;
}

.clicker#clickerB{
    box-shadow: 0 0 10px  blue;
}

.clicker:hover{
    cursor: pointer;
}

.score{
    position: relative;
    right: calc(-100% + 100px);
    width: 100px;
    text-align: right;
    padding: 5px;
    background: antiquewhite;
}

.choice{
    height: 60px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.choice div:first-child{
    text-align: left;
}

.choice:hover{
    background: antiquewhite;
    cursor: pointer;
}

hr{
    margin: 0;
}

.freeze{
    position: absolute;
    top: 20%;
    font-size: 25px;
    display: none;
    text-align: center;
    width: 100%;
    color: white;
}

.freeze.active{
    display: inline-block;
}

.victory{
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    color: white;
    padding: 0;
    font-size: 25px;
    margin: 0;
}

.victory.active{
    display: flex;
}

.victory .redback{
    background: red;
    height: 100%;
}

.victory .greenback{
    background: green;
    height: 100%;
}

.victory .blueback{
    background: blue;
    height: 100%;
}

.victory-msg{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .active-menu-mobile{
        display: block!important;
        width: 100%;
        height: 100%;
        max-width: inherit;
        position: absolute;
        z-index: 100000;
        background: white;
    }
}